body{
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.05);
}

.paint{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas{
  text-align: center;
  background-color: #FFFFFF;
}